<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Asked By You</title>
    <style>
        #head {
            text-shadow: 3px 3px 3px black;
            font-size: 35px;

        }

        .header {
            height: 80px;
            padding: 15px;
        }

        .box {
            border: 5px solid rgb(169, 230, 248) ;
            margin: 20px;
            padding: 10px;

        }

        .main {
            min-height: 700px;
            overflow: auto;
        }

        .heading {
            margin-top: 20px;
            padding: 30px;
            background-color: cornflowerblue;

        }
        p{
         margin:8px;
         text-decoration: solid;
         font-weight:700;
        }
         .txt{
        font-family:Georgia, 'Times New Roman', Times, serif;
        
     }
     .flex-container{
      display:flex;
      flex-direction: row;
      flex-wrap:wrap;
      justify-content: flex-start;
      align-items: center;
     }
     ul{
      list-style-type: none;
    }
    .list{
       width:300px;
       font-size: larger;  
    }
    #about{
     margin-top: 20px;
     padding-left:20px;
     text-align: center;
     font-size: large;
     font-weight: 700;
     color:white;
     text-shadow: 2px 2px 8px black;
    
    }
    .copyright{
      background-color: rgb(36, 71, 230);
    }
    #thought{
      width:300px;
      padding:10px;
      color:darkblue;
      text-align: center;
      font-size: larger;
    }
    </style>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<body>

    {{>TeacherHeader}}
    <br>
    <br>
    <br>
     {{#if message}}
    <div class="alert alert-success container" role="alert">
    <p style="font-family: Georgia, 'Times New Roman', Times, serif;">{{this.message}}</p>
    </div>
    {{/if}}
    <div class="container main">
        
        <div class="heading shadow p-3 mb-2 rounded text-white"><b><h3>Question Answered by you</b></h3></div>
        {{#each Questions }}
        <div class="box shadow rounded">
            <label>Question:</label><p>{{this.question}}</p>
            <label>Image</label><p><img class="img-fluid" src="./QuesUpload/{{this.image}}" width="200px"></p>
            <label>Subject:</label><p>{{this.subject}}</p>
            <label>Answered:</label><p>{{this.answered}}</p>
            {{#if this.answered}}
            <label>Answer:</label><p>{{this.answer}}</p>
            
            {{/if}}
            
        </div>
        {{/each}}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {{>TeacherFooter}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>



</body>

</html>