
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Students's Profile</title>
    <style>
     #detail{
       margin:8px;
       text-decoration: solid;
       font-weight:800;
     }
     body{
      font-family: 'Times New Roman', Times, serif;
      font-size: medium;
     }
     .flex-container{
      display:flex;
      flex-direction: row;
      flex-wrap:wrap;
      justify-content:space-around;
      align-content: center;
     
     }
     .profile-box{
       height:300px;
       width:300px;
       background-color: dimgrey;
       margin-top:20px;
       border-radius: 10px;
     }
     .Detail-box{
       height:300px;
       width:700px;
       margin: 20px;
       background-color: aliceblue;
       padding:25px;
      
     }
     .profile-head{
       
       padding:30px;
       background-color: cornflowerblue;
     }
      .txt{
        font-family:Georgia, 'Times New Roman', Times, serif;
        
     }
     .flex-container{
      display:flex;
      flex-direction: row;
      flex-wrap:wrap;
      justify-content: flex-start;
      align-items: center;
     }
     ul{
      list-style-type: none;
    }
    .list{
       width:300px;
       font-size: larger;  
    }
    #about{
     margin-top: 20px;
     padding-left:20px;
     text-align: center;
     font-size: large;
     font-weight: 700;
     color:white;
     text-shadow: 2px 2px 8px black;
    
    }
    .copyright{
      background-color: rgb(36, 71, 230);
    }
    #thought{
      width:300px;
      padding:10px;
      color:darkblue;
      text-align: center;
      font-size: larger;
    }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  
</head>
<body>
    
        {{>StudentHeader}}

      <div class="container shadow p-3 bg-white rounded">
          <br>
          <br>
          <br>
          <br>
      <div class="profile-head shadow p-3 mb-2 rounded"><b><h3>Your Profile</b></h3></div>
      <div class="flex-container ">
          <div class="profile-box shadow p-3 mb-5 bg-white rounded"><img class="img-fluid" src="profilePic.png"></div>
          <div class="Detail-box shadow p-3 mb-5 bg-white rounded">
          <br>
        
          <p id="name"><strong>Name:</strong> <span id="detail">{{user.name}}</span> </p>
          <p id=Educatin> <strong>Education:</strong> <span id="detail">{{user.education}}</span></p>
          <p id="city">  <strong>City:</strong> <span id="detail">{{user.city}}</span></p>
          <p id="age"> <strong>Age: </strong><span id="detail">{{user.age}}</span></p>
          <p><strong>School:</strong><span id="detail">{{user.school}}</span></p>
          <p id="name"><strong>Role:</strong> <span id="detail">{{user.Role}}</span> </p>
          <br>
          </div>          
      </div>
      <button class="btn btn-outline-primary">Edit Profile</button>
      <button class="btn btn-success">settings</button>
      <br>
      <br>
     <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{user.name}}</strong> Always Try to keep your Profile Up to date.
</div>
      </div>
      {{>StudentFooter}}

    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
    
</body>

</html>