
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Students's Profile</title>
    <style>
     span{
       margin:8px;
       text-decoration: solid;
       font-weight:800;
     }
     body{
      font-family: 'Times New Roman', Times, serif;
      font-size: medium;
     }
     .flex-container{
      display:flex;
      flex-direction: row;
      flex-wrap:wrap;
      justify-content:space-around;
      align-content: center;
     
     }
     .profile-box{
       height:300px;
       width:300px;
       background-color: dimgrey;
       margin-top:20px;
       border-radius: 10px;
     }
     .Detail-box{
       height:300px;
       width:700px;
       margin: 20px;
       background-color: aliceblue;
       padding:25px;
      
     }
     .profile-head{
       
       padding:30px;
       background-color: cornflowerblue;
     }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  
</head>
<body>
    <div>
        <!-- NavBar -->
    <div class="container-fluid " id="Nav-Box">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
          <a class="navbar-brand ml-5" href="#">
            <img src="Game1.jpg" width="60" height="60" class="rounded-circle align-top" alt="" loading="lazy"></a>
          <a class="navbar-brand ml-2" style="font-family:georgia;" href="#">Tutor's Help</a>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li ><a href="/studentHome" class="nav-link">Home</a></li>
              <li class="nav-item active"><a href="/studentprofile" class="nav-link" >Profile</a></li>
              <li><a href="#" class="nav-link">Notifications</a></li>
              <li><a href="/askQuestion" class="nav-link">Ask Questions</a></li>
              <li><a href="#" class="nav-link">Settings</a></li>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button> 
              </form>
               <a href="/studentlogout"><button class="btn btn-outline-danger  my-2 my-sm-0  ml-5" >Logout</button></a>
                 
              
            </ul>
            </button>
        </nav>
      </div>
      <!-- Navbar closed -->

      <div class="container shadow p-3 bg-white rounded">
          <br>
          <br>
          <br>
          <br>
      <div class="profile-head shadow p-3 mb-2 rounded"><b><h3>Your Profile</b></h3></div>
      <div class="flex-container ">
          <div class="profile-box shadow p-3 mb-5 bg-white rounded"><img class="img-fluid" src="profilePic.png"></div>
          <div class="Detail-box shadow p-3 mb-5 bg-white rounded">
          <br>
        
          <p id="name"><strong>Name:</strong> <span>{{user.name}}</span> </p>
          <p id=Educatin> <strong>Education:</strong> <span>{{user.education}}</span></p>
          <p id="city">  <strong>City:</strong> <span>{{user.city}}</span></p>
          <p id="age"> <strong>Age: </strong><span>{{user.age}}</span></p>
          <p><strong>School:</strong><span>{{user.school}}</span></p>
          <p id="name"><strong>Role:</strong> <span>{{user.Role}}</span> </p>
          <br>
          </div>          
      </div>
      <button class="btn btn-outline-primary">Edit Profile</button>
      <button class="btn btn-success">settings</button>
      <br>
      <br>
     <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{user.name}}</strong> Always Try to keep your Profile Up to date.
</div>
      </div>
      <div class="container-fluid  bg-primary">
        <br>
        <br>
        <center><a class="text-white" href="#">Contact Us</a>|<a class="text-white" href="#">About Us</a></center>
        <br>
        <br>
      </div>
    </div>

    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
    
</body>

</html>